@using Microsoft.Extensions.Options
@using WebApplication.Configuration

@inject IOptions<ApiOptions> ApiOptions

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Short URL Generator</h2>

        <div style="display:inline-block;margin-right:10px;">
            <label>Long URL</label>
        </div>
        <input id="inputLongUrl" placeholder="Enter a long URL (e.g. https://...)" tabindex="1" style="display:inline-block;margin-right:10px;" />
        <div class="buttons" style="display:inline-block;">
            <button id="buttonShortenUrl" tabindex="1">Shorten URL</button>
        </div>

        <p/>

        <div style="display:inline-block;margin-right:10px;">
            <label>Short URL</label>
        </div>
        <input id="inputShortUrl" placeholder="Enter the short URL (e.g. Efdfsa)" tabindex="1" style="display:inline-block;margin-right:10px;" />
        <div class="buttons" style="display:inline-block;">
            <button id="buttonLongUrl" tabindex="1">Retrive long URL</button>
        </div>
    </div>
</div>

<script id="javascript" data-linkApiBaseAddress="@ApiOptions.Value.LinkApiBaseAddress"></script>