@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Short URL Generator</h2>

        <div style="display:inline-block;margin-right:10px;">
            <label>Long URL</label>
        </div>
        <input id="inputLongUrl" placeholder="Enter a long URL (e.g. https://...)" tabindex="1" style="display:inline-block;margin-right:10px;"/>
        <div class="buttons" style="display:inline-block;">
            <button id="buttonLongUrl" tabindex="1">Shorten URL</button>
        </div>
    </div>
</div>
