@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Hello world</h2>
        <ul>
            <li>Some line</li>
            <li>Some more lines</li>
        </ul>
    </div>
</div>
